Repository thylin9999/km: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

lock
  yarn.lock
Due: none

init - api
  .env.kmdev
  .env.kmtest
  .env.production
  src/utils/request.ts
Due: eslint --fix, prettier --write

api更换地址
  .env.kmdev
  .env.kmtest
  .env.production
  vue.config.js
Due: eslint --fix, prettier --write

更换短视频api
  .env.kmdev
  .env.kmtest
  .env.production
Due: none

edit - 换肤
  src/App.vue
  src/views/home/MovieType2.vue
  src/views/home/index.vue
Due: eslint --fix, prettier --write

edit - 换肤
  src/App.vue
  src/assets/css/base.css
  src/assets/images/tabbar/active.png
  src/assets/images/tabbar/active_active.png
  src/assets/images/tabbar/game.png
  src/assets/images/tabbar/game_active.png
  src/assets/images/tabbar/home.png
  src/assets/images/tabbar/home_active.png
  src/assets/images/tabbar/mine.png
  src/assets/images/tabbar/mine_active.png
  src/assets/images/tabbar/video.png
  src/assets/images/tabbar/video_active.png
  src/components/footer/index.vue
  src/components/refresh/MovieItem.vue
  src/views/home/MovieType2.vue
  src/views/home/index.vue
  src/views/player/Recommend.vue
Due: eslint --fix, prettier --write

edit - style-xm
  src/assets/images/user/userCenter/address.png
  src/assets/images/user/userCenter/arrow_right.png
  src/assets/images/user/userCenter/customer.png
  src/assets/images/user/userCenter/man.png
  src/assets/images/user/userCenter/message.png
  src/assets/images/user/userCenter/myShortVideo.png
  src/assets/images/user/userCenter/myVideo.png
  src/assets/images/user/userCenter/settings.png
  src/assets/images/user/userCenter/top_bg.png
  src/assets/images/user/userCenter/user_01.png
  src/assets/images/user/userCenter/user_02.png
  src/assets/images/user/userCenter/user_03.png
  src/assets/images/user/userCenter/user_04.png
  src/assets/images/user/userCenter/vip/btn_bg.png
  src/assets/images/user/userCenter/vip/man.png
  src/assets/images/user/userCenter/vip/privilege.png
  src/assets/images/user/userCenter/vip/privilege_bg.png
  src/assets/images/user/userCenter/vip/top_bg.png
  src/assets/images/user/userCenter/vip/women.png
  src/assets/images/user/userCenter/vip_bg.png
  src/assets/images/user/userCenter/vip_icon.png
  src/assets/images/user/userCenter/wallet_bg.png
  src/assets/images/user/userCenter/women.png
  src/assets/scss/config/variables.scss
  src/assets/scss/global.scss
  src/views/user/index.vue
  src/views/user/member/index.vue
  src/views/user/personInfo/index.vue
Due: eslint --fix, prettier --write

d
  README.md
Due: prettier --write

修改底部tab栏样式--
  src/assets/images/tabbar/active.png
  src/assets/images/tabbar/active_active.png
  src/assets/images/tabbar/game.png
  src/assets/images/tabbar/game_active.png
  src/assets/images/tabbar/home.png
  src/assets/images/tabbar/home_active.png
  src/assets/images/tabbar/mine.png
  src/assets/images/tabbar/mine_active.png
  src/assets/images/tabbar/video.png
  src/assets/images/tabbar/video_active.png
  src/assets/scss/config/variables.scss
  src/components/footer/index.vue
Due: eslint --fix, prettier --write

修改个人中心现有页面的ui样式--
  src/assets/images/user/loginBg.png
  src/views/login/forgetPassword.vue
  src/views/login/index.vue
  src/views/login/register.vue
  src/views/search/index.vue
  src/views/user/index.vue
  src/views/user/recharge/index.vue
  src/views/user/rechargeRecord/index.vue
  src/views/user/rechargeRecord/recordRechargeList.vue
  src/views/user/shareApp/index.vue
  src/views/user/wallet/index.vue
Due: eslint --fix, prettier --write

修改样式--
  src/assets/images/dialog/closeBtn.png
  src/assets/images/dialog/noticeBg.png
  src/views/active/index.vue
  src/views/adInit/Overlay.vue
  src/views/adInit/loadingInit.vue
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,json,vue}
  prettier --write: any of: *.{json,css,less,scss,ts,tsx,js,jsx,md,vue}
